<div class="main">
  <div *ngIf="errorMessage; else orderTable">
    <div class="errorMessage">{{ errorMessage }}</div>
  </div>
  <ng-template #orderTable>
    <div class="order-screen row">
      <div class="col-md-6">
        <div class="row w-75">
          <div class="col-md-6">
            <p>Order No.</p>
          </div>
          <div class="col-md-6">
            <p>{{ orderData['orderNo'] }}</p>
          </div>
        </div>
        <div class="row w-75">
          <div class="col-md-6">
            <p>Method</p>
          </div>
          <div class="col-md-6">
            <p>{{ orderData['method'] }}</p>
          </div>
        </div>
        <div class="row w-75">
          <div class="col-md-6">
            <p>Carrier</p>
          </div>
          <div class="col-md-6">
            <p>{{ orderData['carrier'] }}</p>
          </div>
        </div>
        <div class="row w-75">
          <div class="col-md-6">
            <p>Trace No.</p>
          </div>
          <div class="col-md-6">
            <p>{{ orderData['traceNo'] }}</p>
          </div>
        </div>
        <div class="row w-75">
          <div class="col-md-6">
            <p>Email</p>
          </div>
          <div class="col-md-6">
            <p>{{ orderData['email'] }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row w-75">
          <div class="col-md-6">
            <p>Ship Date</p>
          </div>
          <div class="col-md-6">
            <p>{{ orderData['shipDate'] }}</p>
          </div>
        </div>
        <div class="row w-75">
          <div class="col-md-6">
            <p>Ship Address</p>
          </div>
          <div class="col-md-6">
            <p>{{ orderData['shipToAddress'] }}</p>
          </div>
        </div>
        <div class="row w-75">
          <div class="col-md-6">
            <p>CSZ</p>
          </div>
          <div class="col-md-6">
            <p>{{ orderData['csz'] }}</p>
          </div>
        </div>
        <div class="row w-75">
          <div class="col-md-6">
            <p>Comment Label</p>
          </div>
          <div class="col-md-6">
            <p>{{ orderData['commentLabel'] }}</p>
          </div>
        </div>
        <div class="row w-75">
          <div class="col-md-6">
            <p>Return Address</p>
          </div>
          <div class="col-md-6">
            <p>{{ orderData['returnIds'] }}</p>
          </div>
        </div>
      </div>
    </div>
    <span class="flag">{{ orderData['auditFlag'] | titlecase }}</span>
  </ng-template>
</div>
