<div class="bg-dark p-5">
  <div class="container">
    <span class="display-4 text-light ml-8 text-center"><p>Remember</p></span>
    <span class="text-muted text-center">
      <h2>
        <p>this is just a proof of concept, don't save production data</p>
      </h2>
    </span>
    <span class="text-center">
      <p>
        <a href="https://github.com/cybergroupdevs/uv-python-poc/tree/develop">
          <button class="btn btn-success rounded-4">
            Code peek
          </button>
        </a>
      </p>
    </span>
  </div>
</div>
<div class="container">
  <div class="col-md-3 mt-4">
    <h1>Enter transaction id</h1>
    <form [formGroup]="transactionForm">
      <div class="col-xs-1">
        <input
          class="form-control"
          type="text"
          placeholder="Transaction Id"
          formControlName="transactionId"
        />
      </div>
      <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
      <button
        type="button"
        class="btn btn-dark mt-3"
        (click)="getTransactionDetails()"
      >
        Submit
      </button>
    </form>
  </div>
</div>
