<div class="bg-dark p-5">
  <div class="container">
    <span class="display-4 text-light ml-8 text-center"><p>Welcome!</p></span>
    <span class="text-muted text-center">
      <h2>
        <p>Enter the transaction id provided or phone number, to view all the details</p>
      </h2>
    </span>
    <span class="text-center">
      <p>
        <a href="https://github.com/cybergroupdevs/uv-python-poc/tree/develop">
          <button class="btn btn-success rounded-4">
            Code peek
          </button>
        </a>
      </p>
    </span>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 mt-4">
      <h1>Enter transaction id</h1>
      <form [formGroup]="transactionForm">
        <div class="col-xs-1">
          <input
            class="form-control"
            type="text"
            placeholder="Transaction Id"
            formControlName="transactionId"
          />
        </div>
        <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
        <button
          type="button"
          class="btn btn-dark mt-3"
          (click)="getTransactionDetails()"
        >
          Lookup Transaction<i class="fa fa-check ml-1"></i>
        </button>
      </form>
    </div>
    <div class="col-md-3 mt-4 text-center">
      <h1 class="align-middle">Or</h1>
    </div>
    <div class="col-md-5 mt-4">
      <h1>Enter phone no.</h1>
      <form [formGroup]="phoneNoForm">
        <div class="col-xs-1">
          <input
            #phoneNoInput
            class="form-control"
            type="text"
            placeholder="Phone No"
            formControlName="phoneNo"
            mask="000-000-0000"
          />
          <span
            class="badge badge-danger"
            *ngIf="phoneNoForm.controls['phoneNo'].invalid && check"
            >Invalid</span
          >
        </div>
        <button class="btn btn-dark mt-3" (click)="openDialog()">
          Lookup customer
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
  </div>
</div>
