<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Website name</a>
    </nav>
    <div class="container">
      <div class="p-4 d-flex justify-content-between">
        <p>Transaction Details</p>
        <button class="btn btn-dark">Close</button>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row w-75">
            <div class="col-md-6">
              <p>Transaction</p>
            </div>
            <div class="col-md-6">
              <p># 3304*32*6579</p>
            </div>
          </div>
          <div class="row w-75">
            <div class="col-md-6">
              <p>Tran. type</p>
            </div>
            <div class="col-md-6">
              <p>Sale</p>
            </div>
          </div>
          <div class="row w-75">
            <div class="col-md-6">
              <p>Operator</p>
            </div>
            <div class="col-md-6">
              <p>Brain Taylor</p>
            </div>
          </div>
          <div class="row w-75">
            <div class="col-md-6">
              <p>SaleCNS</p>
            </div>
            <div class="col-md-6">
              <p>Travis Pulfard</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row w-75">
            <div class="col-md-6">
              <p>Phone</p>
            </div>
            <div class="col-md-6">
              <p>901-234-2321</p>
            </div>
          </div>
          <div class="row w-75">
            <div class="col-md-6">
              <p>Name</p>
            </div>
            <div class="col-md-6">
              <p>Ashley Simpson</p>
            </div>
          </div>
          <div class="row w-75">
            <div class="col-md-6">
              <p>PFID</p>
            </div>
            <div class="col-md-6">
              <p>2323232323</p>
            </div>
          </div>
        </div>
      </div>
      <mat-tab-group mat-align-tabs="center" (selectedTabChange)="onChangeTab($event)">
        <mat-tab label="Transaction">Content 1</mat-tab>
        <mat-tab label="Commission">
          <div class="p-3">
            <commission></commission>
          </div>
        </mat-tab>
        <mat-tab label="Consultant"><app-consultant></app-consultant></mat-tab>
        <mat-tab label="Customer">Content 4</mat-tab>
      </mat-tab-group>
    </div>
  </div>
