<div class="main">
    <div class="intro-div">
        <span class="heading">Remember</span>
        <span class="sub-heading">this is just a proof of concept, don't save production data</span>
        <span>
            <a href="https://github.com/cybergroupdevs/TAI-POC">
                <button class="know-more">
                    Code peek
                </button>
            </a>
        </span>
    </div>
</div>
<div class="container">
    <div class="body">
        <div class="col-md-5 col-7">
            <h1>Enter transaction id</h1>
            <input class="form-control" type="text" placeholder="Transaction Id" formControlName='transactionid'
                style="text-align: right;" />
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>
    </div>
</div>