table{
    width: 100%;
}

.container{
    width: 1500px!important;
}

.container-fluid{
    padding: 0!important;
}

.wrapper{
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-cell{
    padding: 0px 8px 0px 0px;
}

.mat-header-cell{
    padding: 0px 8px 0px 0px;
}