.mat-cell{
    padding: 0px 8px 0px 0px;
}

.mat-header-cell{
    padding: 0px 8px 0px 0px;
}

table{
    width: 100%;
}

.errorMsg{
    text-align: center;
    padding-top: 10px;
}

.other-details{
    padding-top: 20px;
    width: 300px;
}