/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.errorMsg{
    text-align: center;
    padding-top: 10px;
}

.cell-padding{
    padding: 0px 8px 0px 0px;
}

.header-padding{
    padding: 0px 8px 0px 0px;
}

table{
    width: 100%;
}
