<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Website name</a>
</nav>
<div class="container">
  <div class="d-flex justify-content-between pt-3">
    <p><b>Transaction Details</b></p>
    <div class="row w-75">
      <div class="col-md-6">
        <span class="text-muted">
          Posted On: {{ headerData.customerDetails['date'] }}
        </span>
      </div>
    </div>
    <button class="btn btn-dark" routerLink="/">Close</button>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row w-75">
        <div class="col-md-6">
          <p>Transaction</p>
        </div>
        <div class="col-md-6">
          <p>
            {{ headerData.customerDetails['transactionId'] }}
          </p>
        </div>
      </div>
      <div class="row w-75">
        <div class="col-md-6">
          <p>Transaction Type</p>
        </div>
        <div class="col-md-6">
          <p>
            {{ headerData.customerDetails['transactionType'] }}
          </p>
        </div>
      </div>
      <div class="row w-75">
        <div class="col-md-6">
          <p>Operator</p>
        </div>
        <div class="col-md-6">
          <p>
            {{ headerData.customerDetails['operator'] }}
          </p>
        </div>
      </div>
      <div class="row w-75">
        <div class="col-md-6">
          <p>R2R Rental</p>
        </div>
        <div class="col-md-6">
          <p>
            {{ headerData.customerDetails['rentalNo'] }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row w-75">
        <div class="col-md-6">
          <p>Phone</p>
        </div>
        <div class="col-md-6">
          <p>
            {{ headerData.customerDetails['phoneNo'] }}
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              (click)="openDialog()"
              >search
            </mat-icon>
          </p>
        </div>
      </div>
      <div class="row w-75">
        <div class="col-md-6">
          <p>Name</p>
        </div>
        <div class="col-md-6">
          <p>
            {{ headerData.customerDetails['name'] }}
          </p>
        </div>
      </div>
      <div class="row w-75">
        <div class="col-md-6">
          <p>PFID</p>
        </div>
        <div class="col-md-6">
          <p>{{ headerData.customerDetails['pfid'] }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-2">
    <mat-tab-group mat-align-tabs="center" (selectedTabChange)="onChangeTab($event)">
      <mat-tab label="Transaction">
        <app-transaction></app-transaction>
      </mat-tab>
      <mat-tab label="Commission">
        <app-commission-details [transactionId]="transactionId"></app-commission-details>
      </mat-tab>
      <mat-tab label="Customer">
        <app-customer-details></app-customer-details>
      </mat-tab>
      <mat-tab label="Consultant">
        <app-consultant-details></app-consultant-details>
      </mat-tab>

      <mat-tab label="Order">
        <app-order></app-order>
      </mat-tab>
      <mat-tab label="Credit card">
        <div class="credit-card-container">
          <table
            mat-table
            [dataSource]="cardDetails"
            class="mat-elevation-z8 z-depth-5 w-100"
          >
            <ng-container matColumnDef="sent">
              <th mat-header-cell *matHeaderCellDef class="text-right">Sent</th>
              <td mat-cell *matCellDef="let details" class="text-right">
                {{ details.sent }}
              </td>
            </ng-container>
            <ng-container matColumnDef="rcvd">
              <th mat-header-cell *matHeaderCellDef class="text-right">RCVD</th>
              <td mat-cell *matCellDef="let details" class="text-right">
                {{ details.rcvd }}
              </td>
            </ng-container>
            <ng-container matColumnDef="done">
              <th mat-header-cell *matHeaderCellDef class="text-right pr-4">
                Done
              </th>
              <td mat-cell *matCellDef="let details" class="text-right pr-4">
                {{ details.done }}
              </td>
            </ng-container>
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef class="text-left">Type</th>
              <td mat-cell *matCellDef="let details" class="text-left">
                {{ details.type }}
              </td>
            </ng-container>
            <ng-container matColumnDef="entry">
              <th mat-header-cell *matHeaderCellDef class="text-left">Entry</th>
              <td mat-cell *matCellDef="let details" class="text-left">
                {{ details.entry }}
              </td>
            </ng-container>
            <ng-container matColumnDef="auth">
              <th mat-header-cell *matHeaderCellDef class="text-left">Auth</th>
              <td mat-cell *matCellDef="let details" class="text-left">
                {{ details.auth }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="creditCardHeading"></tr>
            <tr mat-row *matRowDef="let row; columns: creditCardHeading"></tr>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Discount">
        <table
          mat-table
          [dataSource]="discountData"
          class="mat-elevation-z8 z-depth-5 w-100"
        >
          <ng-container matColumnDef="pct">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="text-center justify-content-center"
            >
              PCT
            </th>
            <td
              mat-cell
              *matCellDef="let discount"
              class="text-center justify-content-center"
            >
              {{ discount.pct }}
            </td>
          </ng-container>
          <ng-container matColumnDef="subTotal">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="text-center justify-content-center"
            >
              Subtotal
            </th>
            <td
              mat-cell
              *matCellDef="let discount"
              class="text-center justify-content-center"
            >
              {{ discount.subTotal | number: '.1-5' }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="discountHeading"></tr>
          <tr mat-row *matRowDef="let row; columns: discountHeading"></tr>
        </table>
      </mat-tab>
      <mat-tab label="Refund">
        <table
          mat-table
          [dataSource]="refundData"
          class="mat-elevation-z8 z-depth-5 w-100"
        >
          <ng-container matColumnDef="refundMgrName">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="text-center justify-content-center"
            >
              Manager name
            </th>
            <td
              mat-cell
              *matCellDef="let refund"
              class="text-center justify-content-center"
            >
              {{ refund.refundMgrName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="ticketNumber">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="text-center justify-content-center"
            >
              Ticket number
            </th>
            <td
              mat-cell
              *matCellDef="let refund"
              class="text-center justify-content-center"
            >
              {{ refund.ticketNumber }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="refundHeading"></tr>
          <tr mat-row *matRowDef="let row; columns: refundHeading"></tr>
        </table>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
