.date {
  color: rgb(109, 109, 109);
  font-size: 13px;
}
.transaction-detail-heading {
  padding-top: 40px;
}
.discount-container {
  margin-top: 20px;
  font-size: 14px;
}
.discount-container span {
  display: block;
}
.discount {
  color: rgb(0, 0, 175);
  font-size: 16px;
}
.discount:hover {
  text-decoration: underline;
  cursor: pointer;
}
